*{
   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
 padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
   
}
.head{
  width: 100%;
}
.title{
    color: rgb(73, 41, 41);
    width: 100%;
}

#display{
    width: 500px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: left;
    border: none;
     background-color: hsl(0, 0%, 30%);
     color: #ffff;
}

#keys{
    display: grid;
    /* for the calculator, want it to be in 4 columns, then will assign column attribute of (4) and to arrange the buttons evenly will use fractional unit(fr) and 1fr to take even amount of space.  */
    grid-template-columns:repeat(4, 1fr);   
    gap: 20px;
    padding: 40px;
}

button{
    width: 75px;
    height: 75px;
    border-radius: 40px;
    border: none;
    /* for the background color lets use hsl value */
    background-color: hsl(0, 0%, 30%);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  
  
}


button:hover{
      background-color: hsl(0, 0%, 40%);
}
button:active{
     background-color: hsl(0, 0%, 50%);
}
  .operand-btn{
         background-color: hsl(35, 100%, 55%);
  }
  
    .operand-btn:hover{
         background-color: hsl(35, 100%, 65%);
  }
    .operand-btn:active{
         background-color: hsl(35, 100%, 75%);
  }
  .deleton{
    background-color: rgb(186, 25, 25);
  }
  .deleton:hover{
     background-color: rgb(100, 38, 38);
  }
  .deleton:active{
     background-color: rgb(168, 85, 85);
  }

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 10%);
    justify-content: center;
    border-radius: 15px;
    max-width: 500px;
    /* overflow: hidden; */
    padding: 20px;
    padding-top: 0;
  
}

#calculator input{
  padding: 50px;
  justify-content: center;
}
